header {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #106cc8;
  color: #fff;
  height: 72px;
}

header h1 {
  width: 100%;
  display: block;
  line-height: 72px;
  text-align: center;
  margin: 0;
}
