.notes,
.notes-form {
  list-style: none;
  margin: 0;
  padding: 24px;
  background: #ebebeb;
}

.note {
  margin: 0 0 12px 0;
  padding: 24px;
  border-bottom: solid 1px #ccc;
  background: #fff;
}

.note small {
  color: #666;
}

.tags {
  display: block;
  margin-bottom: 24px;
}

.tags:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.tag {
  display: block;
  float: left;
  margin-right: 12px;
  padding: 6px;
  background: #ebebeb;
}

textarea,
input {
  width: 100%;
  border: 0;
  padding: 24px;
  border-bottom: solid 1px #ebebeb;
}

textarea {
  font-size: 14px;
  height: 100px;
  outline: none;
  display: block;
}

.button-wrapper {
  border-bottom: solid 1px #ccc;
  background: #fff;
  text-align: right;
  padding: 12px;
}

button.cancel {
  background: 0;
  color: #666;
}

button.cancel:hover {
  color: #106cc8;
}

button.add {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  line-height: 48px;
  padding: 0;
  font-size: 24px;
  margin: 0;
  display: block;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
