<form class="notes-form" (submit)="addNote($event)" *ngIf="addingNewNote">
  <textarea [(ngModel)]="newNote.body" placeholder="stuff"></textarea>
  <input [(ngModel)]="newTags" (input)="updateTags()" placeholder="tag1, tag2">
  <div class="button-wrapper">
    <button class="cancel" (click)="cancelNewNote($event)">Cancel</button>
    <button type="submit">Add</button>
  </div>
</form>

<ul class="notes">
  <li class="note" *ngFor="let note of notesService.get() | async">
  	<p>{{note.body}}</p>
  	<span class="tags">
  		<span class="tag" *ngFor="let tag of note.tags">{{tag}}</span>
  	</span>
  	<small><em>{{note.createdAt}}</em></small>
  </li>
</ul>

<button class="add" (click)="toggleNewNote(true)" *ngIf="!addingNewNote">+</button>
